@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfcfc;
  --foreground: #222831;
  --primary: #00ADB5;
  --primary-light: #4FBDBA;
  --secondary: #6C63FF;
  --accent: #FFB400;
  --gray-light: #F5F5F5;
  --gray: #EEEEEE;
  --gray-dark: #393E46;
  --border: #e5e7eb;
  --card: #ffffff;
  --card-foreground: #222831;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}